@font-face {
  font-family: BioRhyme;
  font-weight: light;
  src: url(/fonts/BioRhyme/BioRhyme-Light.ttf) format('truetype');
}

@font-face {
  font-family: BioRhyme;
  font-weight: 400;
  src: url(/fonts/BioRhyme/BioRhyme-Regular.ttf) format('truetype');
}

@font-face {
  font-family: BioRhyme;
  font-weight: bold;
  src: url(/fonts/BioRhyme/BioRhyme-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}
